#page-wrapper {
    width: 1130px;
    margin: 40px auto;
}

/* common header styles */
#header {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    color: #fff;
    font-family: 'Jost', sans-serif;
}

/* left side of header */
#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

#logo img {
    display: block;
    width: 100%;
}

/* middle part of the header */
#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#main-menu .menu {
    font-size: 1.2em;
}

#main-menu > .menu > .submenu {
    margin-left: 20px;
    color: #70777B;
    font-weight: 600;
}

#main-menu a {
    color: #fff;
}

/* right side of header */
#header #actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#header .btn-search {
    color: #7B7E8B;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

/* Content styles */
#content-wrapper {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    background-image: linear-gradient(to right bottom, #3e424b, #31343b, #24272c, #191b1d, #0b0c0d);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    padding-top: 40px;
}

#main {
    padding-left: 40px;
    padding-right: 60px;
}

#sidebar figcaption {
    font-weight: 600;
    font-size: 1rem;
}

#sidebar img {
    display: block;
    width: 100%;
    box-shadow: -11px -13px 23px 4px rgba(0,0,0,0.38);
    -webkit-box-shadow: -11px -13px 23px 4px rgba(0,0,0,0.38);
    -moz-box-shadow: -11px -13px 23px 4px rgba(0,0,0,0.38);
}

/* footer styles */
#footer {
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    background-color: #191A1D;
}

#footer div {
    background-color: #36383F;
    border: 1px solid #666666;
    text-align: center;
    padding: 10px 0;
}
